body {
	font-family: 'Poppins', sans-serif;
	margin: 0px;
}
.flex-container {
	display: flex;
	margin-bottom: 100px;
}
.half-width{
	width: 50%;
	margin-left: 6%;
}
h1{
	font-size: 50px;
}
.orange-color{
	color: orange;
}

.top-banner {
	background-image: url(images/top-banner.png);
	background-repeat: no-repeat;
}
div img {
	height: 460px;
	width: 462px;
	border: 1px solid black;
	border-radius: 50%;
}
.half-width a {
	text-decoration: none;
	padding: 10px 40px;
	border-radius: 5px;
	background-image: linear-gradient(orange, tomato);
	color: #ffffff;
	font-weight: bolder;
}
.dream-big {
	background-image: url(images/dream-bg.png);
	background-repeat: no-repeat;
	background-position: right;
}
.dream-big p {
	padding-right: 4px;
}
.experience-item {
	width: 40%;
	box-shadow: 10px 10px 40px gray;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 20px;
	border-radius: 10px;
}
/* border image dear jonno 
border-slice dite hobe 
	border-image-slice: 1
	border-image: linear-gradient(blue, cyan) */
#web-dev-exp2 {
border-image: linear-gradient(blue, cyan);
border-image-slice: 1;
border-left: 7px solid;
}
#web-dev-exp-1 {
	border-image: linear-gradient(rgb(209, 29, 233), rgb(131, 211, 211));
	border-image-slice: 1;
	border-left: 7px solid;
}
.experience-area {
	background-image: url(images/exp-bg.png);
	background-repeat: no-repeat;
	background-position: left;
}

/*information login*/
.information-login {
    margin: 10px;
    padding: 10px;
    background: #F3EBF6;
    display: flex;
    justify-content: space-evenly;
    height: 415px;
    width: 100%;
	margin-bottom: 90px;
}
.left-info{

}
.left-info img {
    height: 170px;
    width: 177px;
    border: 1px solid red;
    border-radius: 50%;
    box-shadow: 3px 6px 11px -3px black;
}
.left-info h2 {
font-size: 36px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 400;
font-style: italic;
}
.left-info h3 {
    font-size: 24px;
    font-weight: normal;
}
.left-info h4 {
    font-size: 23px;
    color: red;
    font-weight: normal;
}
.left-info .name-color {
color: red;
}
.email-color {
    color: #000000;
}
/*form design*/
.right-login {
    background: #F3EBF6;
    width: 550px;
    height: auto;
    position: relative;
}
.right-login .form {
    height: 270px;
    width: 452px;
    background: #FFF;
    top: 28px;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 59px;
}
.form h3 {
    font-size: 22px;
    color: #A67BBD;
    margin-bottom: 17px;
    margin-top: 8px;
}
.form form {

}
form .username {
    height: 36px;
    width: 285px;
    margin: 10px;
    border-radius: 14px;
    box-shadow: 0px -2px 6px #8F679D;
}
form .submit{
    height: 36px;
    width: 144px;
    border-radius: 8px;
    padding: 0px;
    background-color: #D43CEE;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 14px;
}
.forgot-password a {
    text-decoration: none;
    color: #B07BBD;
    font-size: 16p
}


footer {
	text-align: center;
}
footer p {
	color: rgb(80, 77, 77);
	font-weight: bolder;
}