body {
	font-family: 'Poppins', sans-serif;
	margin: 0px;
}
.flex-container {
	display: flex;
	margin-bottom: 100px;
}
.half-width{
	width: 50%;
	margin-left: 6%;
}
h1{
	font-size: 50px;
}
.orange-color{
	color: orange;
}

.top-banner {
	background-image: url(images/top-banner.png);
	background-repeat: no-repeat;
}
div img {
	height: 460px;
	width: 462px;
	border: 1px solid black;
	border-radius: 50%;
}
.half-width a {
	text-decoration: none;
	padding: 10px 40px;
	border-radius: 5px;
	background-image: linear-gradient(orange, tomato);
	color: #ffffff;
	font-weight: bolder;
}
.dream-big {
	background-image: url(images/dream-bg.png);
	background-repeat: no-repeat;
	background-position: right;
}
.dream-big p {
	padding-right: 4px;
}